* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: orange;
}

a {
  text-decoration: none;
  color: rgb(61, 146, 201);
}

a:hover, a:focus {
  text-decoration: underline;
}

table {
  background-color: rgba(255, 255, 255, .6);
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: Georgia, "Cambria", serif;
  font-size: 0.72em;
  margin-top: 27px;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}
/*******************************************************/
/* LAYOUT CSS                                          */
/*******************************************************/
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

#layout {
  padding: 0;
}

.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
}

.sidebar {
  background: rgba(61, 79, 93, .7);
  color: #fff;
}

.brand-title, .brand-tagline {
  font-family: "Trirong", serif;
  margin: 0;
}

.brand-title {
  font-size: 2.6em;
}

.brand-tagline {
  font-weight: 300;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.nav-item a {
  background: rgb(51, 51, 51);
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  font-size: 85%;
}

.nav-item a:hover, .nav-item a:focus {
  background: white;
  color: #333;
  border: 2px solid white;
  text-decoration: none;
}

.content-subhead {
  color: rgb(153, 102, 0);
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 2em 1em 0;
}

.post {
  padding-bottom: 2em;
}

.post-title {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
}

.post-description {
  font-family: Georgia, "Cambria", serif;
  font-size: 1.2em;
  color: rgb(51, 34, 0);
  line-height: 1.8em;
}

@media (min-width: 48em) {
  .content {
    padding: 2em 3em 0;
    margin-left: 25%;
  }

  .header {
    margin: 80% 2em 0;
    text-align: right;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}
